<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Hoe Grocery</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body class="firstPage">
  <header>
    <h2 id="welcome-heading" style="font-style: italic; color: black;">Happy Hoe Grocery</h2>
  </header>
  <form id="loginForm">
    <div class="row">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="row">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="checkbox" id="show-password"> Show Password
    </div>
    <div class="row">
      <label for="role">Role:</label>
      <select id="role" name="role" required>
        <option value="">Select your role</option>
        <option value="manager">Manager</option>
        <option value="sales_agent">Sales Agent</option>
      </select>
    </div>
    <div class="row">
      <label for="branch">Branch:</label>
      <select id="branch" name="branch" required>
        <option value="">Select your branch</option>
        <option value="magna">Maganjo</option>
        <option value="matugga">Matugga</option>
      </select>
    </div>
    <div class="row">
      <button id="login-button" type="submit">Login</button>
    </div>
    <div class="row">
      <p>Don't have an account? <button id="signup-button" type="button">Sign-Up</button></p>
    </div>
    <div class="row">
      <input type="checkbox" id="remember-me" />
      <label for="remember-me" style="font-size: small;">Stay Logged-in</label>
    </div>
  </form>
  <footer>
    <p id="tagline">© Copyright 2024. All rights reserved.</p>
  </footer>
  <script src="../scripts/login.js"></script>
</body>
</html>
