doctype html
head
  meta(charset='UTF-8')
  meta(name='' content='' device-width,initial-scale='1.0')
  link(rel='stylesheet' href='/public/css/styles.css')
  title  page2
form.form(action='#' method='post')
  input.container
  br
  input(type='checkbox' name='sports')
  label(for='sports') sports
  br
  a(href='page3.html') Go to page3