doctype html
head
  meta(charset='UTF-8')
  meta(name='' content='' device-width,initial-scale='1.0')
  link(rel='stylesheet' href='/public/css/styles.css')
  title  page1
a(href='page2.html') link to page2
